In [1]:
import pandas as pd
import numpy as np

In [2]:
df2 = pd.DataFrame({
    "A":1.0,
    "B":pd.Timestamp("20190101"),
    "C":pd.Series(1,index=list(range(4)),dtype="float32"),
    "D":np.array([3]*4,dtype="int32"),
    "E":pd.Categorical(["test","train","test","train"]),
    "F":"Foo",
})

In [3]:
df2

     A          B    C  D      E    F
0  1.0 2019-01-01  1.0  3   test  Foo
1  1.0 2019-01-01  1.0  3  train  Foo
2  1.0 2019-01-01  1.0  3   test  Foo
3  1.0 2019-01-01  1.0  3  train  Foo

In [4]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object